.App-header {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: azure;
  text-align: center;
  font-family: "Apple Chancery";
}

.header-buttons {
  background-color: black;
  border: none;
  font-family: "Helvetica";
  font-size: medium;
  color: white;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-right: 2%;
}

.header-buttons:hover {
  color: cornflowerblue;
}
