.Image-image {
    background-color: #fdd291;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: white;
    background-image: url("../Images/law_bg3.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Helvetica";
    padding-bottom: 20%;
}

.Image-text {
    text-align: left;
    margin-top: 5%;
    margin-left: 25%;
}